name: releaser

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+alpha[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+beta[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+rc[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        include:
          - msystem: CLANG32
            arch: clang-i686
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: msys2/setup-msys2@v2
        with:
          msystem: ${{ matrix.msystem }}
          install: >-
            git
            mingw-w64-${{ matrix.arch }}-clang
            mingw-w64-${{ matrix.arch }}-cmake
            mingw-w64-${{ matrix.arch }}-compiler-rt
            mingw-w64-${{ matrix.arch }}-lld
            mingw-w64-${{ matrix.arch }}-lua51
            mingw-w64-${{ matrix.arch }}-ninja
            mingw-w64-${{ matrix.arch }}-tools
      - name: Build
        shell: msys2 {0}
        run: |
          mkdir build
          cd build
          rm -rf CMakeCache.txt && cmake -GNinja -DCMAKE_C_COMPILER=clang -DCMAKE_C_STANDARD=11 -DCMAKE_C_STANDARD_REQUIRED=ON -DCMAKE_C_EXTENSIONS=OFF -DCMAKE_RC_COMPILER=llvm-rc -DCMAKE_RC_FLAGS="-C 65001" -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DLEAK_DETECTOR=OFF -DALLOCATE_LOGGER=OFF -DCMAKE_BUILD_TYPE=Release .. && cmake --build . && ctest --output-on-failure
      - name: Upload binaries
        uses: actions/upload-artifact@v3
        with:
          name: bin
          path: |
            build/bin/**/*
  create-release:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Get the version
        id: get_version
        run: echo "tag=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_OUTPUT
      - name: Download artifacts
        uses: actions/download-artifact@v3
      - name: Zip
        run: |
          mkdir -p release && cd bin && zip -r ../release/gcmzdrops_${{ steps.get_version.outputs.tag }}.zip * && cd ..
      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ steps.get_version.outputs.tag }}
          draft: true
          prerelease: false
          files: release/*
          body: |
            ### 注意事項
            
            - これはリリース候補版です。  
            まだ正式リリースには至っていませんが、リリース版と同じぐらい安定しています。
            
            ### ダウンロード
            
            - [gcmzdrops_${{ steps.get_version.outputs.tag }}.zip](https://github.com/oov/aviutl_gcmzdrops/releases/download/${{ steps.get_version.outputs.tag }}/gcmzdrops_${{ steps.get_version.outputs.tag }}.zip)
            
            ### 変更点
            
            - ＊＊＊＊
