name: releaser

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+alpha[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+beta[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+rc[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        include:
          - msystem: MINGW32
            arch: i686
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: msys2/setup-msys2@v2
        with:
          msystem: ${{ matrix.msystem }}
          install: >-
            git
            mingw-w64-${{ matrix.arch }}-clang
            mingw-w64-${{ matrix.arch }}-cmake
            mingw-w64-${{ matrix.arch }}-compiler-rt
            mingw-w64-${{ matrix.arch }}-lld
            mingw-w64-${{ matrix.arch }}-lua51
            mingw-w64-${{ matrix.arch }}-ninja
            mingw-w64-${{ matrix.arch }}-tools
      - name: Build
        shell: msys2 {0}
        run: |
          mkdir build
          cd build
          rm -rf CMakeCache.txt && cmake -GNinja -DCMAKE_C_COMPILER=clang -DCMAKE_C_STANDARD=11 -DCMAKE_C_STANDARD_REQUIRED=ON -DCMAKE_C_EXTENSIONS=OFF -DCMAKE_RC_COMPILER=llvm-rc -DCMAKE_RC_FLAGS="-C 65001" -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DLEAK_DETECTOR=OFF -DALLOCATE_LOGGER=OFF -DCMAKE_BUILD_TYPE=Release .. && cmake --build . && ctest --output-on-failure
      - name: Upload binaries
        uses: actions/upload-artifact@v2
        with:
          name: bin
          path: |
            build/bin/**/*
  create-release:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Get the version
        id: get_version
        run: echo ::set-output name=tag::${GITHUB_REF/refs\/tags\//}
      - name: Download artifacts
        uses: actions/download-artifact@v2
      - name: Zip
        run: |
          cd bin && zip -r ../package.zip * && cd ..
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          draft: true
          prerelease: false
          body: |
            ### 注意事項
            
            - これはベータ版です。  
            今回のリリースは今までで一番変更量が多いため、予期せぬバグが増えている可能性があります。  
            以前はできていたことができなくなっている場合はバグの可能性が高いので、ご連絡いただけますと幸いです。
            
            ### ダウンロード
            
            - [gcmzdrops_${{ steps.get_version.outputs.tag }}.zip](https://github.com/oov/aviutl_gcmzdrops/releases/download/${{ steps.get_version.outputs.tag }}/gcmzdrops_${{ steps.get_version.outputs.tag }}.zip)
            
            ### 変更点
            
            - ＊＊＊＊
      - name: Upload Release Asset
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: package.zip
          asset_name: gcmzdrops_${{ steps.get_version.outputs.tag }}.zip
          asset_content_type: application/zip
